In [93]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('cars.csv')

In [47]:
df.sample(5)

         brand  km_driven    fuel                 owner  selling_price
4803   Hyundai      45900  Petrol          Second Owner         490000
5991   Hyundai      13000  Petrol           First Owner         666000
3120  Mahindra     260000  Diesel  Fourth & Above Owner         550000
3172  Mahindra      78000  Diesel           First Owner         450000
3290   Hyundai      60000  Petrol           First Owner         370000

In [53]:
df.shape

(8128, 5)

In [49]:
df['brand'].nunique()

32

In [51]:
df['fuel'].nunique()
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [52]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

#1. OneHot Encoding using Pandas

In [71]:
pd.get_dummies(df, columns=['fuel', 'owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

#2. K-1 OneHot Encoding

In [79]:
pd.get_dummies(df, columns=['fuel', 'owner'], drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

#3. OneHot Encoding using Scikit-learn

In [80]:
from sklearn.preprocessing import OneHotEncoder

In [82]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [83]:
X.sample(5)

       brand  km_driven    fuel                 owner
3455  Maruti      70000  Diesel          Second Owner
127   Maruti      90000  Diesel          Second Owner
5676  Maruti      70000  Petrol           First Owner
3892  Maruti      86000  Petrol          Second Owner
6825    Tata      40000  Petrol  Fourth & Above Owner

In [84]:
y.sample(5)

917     180000
3494     55000
7637    575000
5577    130000
1492    420000
Name: selling_price, dtype: int64

In [81]:
from sklearn.model_selection import train_test_split

In [86]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

In [99]:
ohe = OneHotEncoder(drop='first', sparse_output=False)

In [100]:
X_train_new = ohe.fit_transform(X_train[['fuel','owner']])
X_test_new = ohe.transform(X_test[['fuel','owner']])

In [101]:
np.hstack((X_train[['brand', 'km_driven']].values, X_train_new)).shape

(6502, 9)

#4. OneHot Encoding with Top Categories

In [103]:
counts = df['brand'].value_counts()

In [105]:
df['brand'].nunique()
threshold = 100

In [107]:
repl = counts[counts <= threshold].index

In [108]:
pd.get_dummies(df['brand'].replace(repl, 'uncommon'))

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
0,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,False,False,False,False,True,False,False,False,False,False,False,False,False
8124,False,False,False,False,True,False,False,False,False,False,False,False,False
8125,False,False,False,False,False,False,True,False,False,False,False,False,False
8126,False,False,False,False,False,False,False,False,False,True,False,False,False
8127,False,False,False,False,False,False,False,False,False,True,False,False,False